@charset "utf-8";
/* CSS Document */

body
{
	font-family: Verdana, arial, sans-serif;
	color: #343434;
    margin: 0;
    padding:50px;
}

h1, h2, h3, nav
{
 	font-family: Quando, arial, serif;
 	color: #173e43;
}

header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    
    flex-basis: 350px;
}

article img{
    width: 100%;
    height: auto;
}
span{
    font-weight: bold;
}

footer
{
	background-color: #173e43;
	color: white;
	text-align: center;
	padding: 50px 10px 20px;
}

footer a 
{
	color: white;
}
